[submodule "octomap_corridor/octomap"]
	path = octomap_corridor/octomap
	url = https://github.com/OctoMap/octomap
[submodule "external/libsvm"]
	path = external/libsvm
	url = https://github.com/cjlin1/libsvm.git
